<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Chorder</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>ChorderIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Chorder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>uk.co.georgegillams.inputmethod.chorder.latin</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>uk.co.georgegillams.inputmethod.chorder.latin</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>ChorderIcon.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>0</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string></string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>ChorderIcon.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>uk.co.georgegillams.inputmethod.chorder.latin</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).ChorderInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>$(PRODUCT_MODULE_NAME).ChorderInputController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISIntendedLanguage</key>
	<string>en</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>ChorderIcon.tiff</string>
</dict>
</plist>
